body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e3f2fd;
}

main {
  flex: 1 0 auto;
}

/* IMG Tabelle */
.card-img {
  width: 250px;
  height: 200px;
  min-height: 200px;
  min-width: 250px;
  max-height: 200px;
  max-width: 250px;

  border-bottom-style: solid;
  border-width: 2px;
  border-color: #0d47a1  ;
}

/* IMG Liste */
.card-img-list {
  width: 250px;
  height: 200px;
  min-height: 200px;
  min-width: 250px;
  max-height: 200px;
  max-width: 250px;

  margin: 10px;

  border-style: solid;
  border-width: 2px;
  border-color: #0d47a1  ;
}

/* IMG PRODOTTO */
.imgProdotto{
  width: 500px;
  height: 500px;
  min-height: 500px;
  min-width: 500px;
  max-height: 500px;
  max-width: 500px;

  border-bottom-style: solid;
  border-width: 2px;
  border-color: #0d47a1  ;
}

.btn:focus{ 
  background-color: #1565c0  
}

.btn{
  background-color: #1565c0 
}

.btn:hover {
  background-color: #1565c0
}

.btn:active{
  background-color: #1565c0
}

.btn:visited{
  background-color: #1565c0
}

/* label color */
.input-field label {
  color: #1565c0;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #1565c0;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #1565c0;
}

.input-field {
  color:1565c0;
} 

.container{
  width:100%;
}

/* label focus color */
.input-field input:focus + label {
  color: #1565c0 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important
}

.barra { width:100% !important; }

ul.dropdown-content.select-dropdown li span {
  color: #1565c0 !important;
}


.modal { width: 25% !important ; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:    #1565c0 ;
  border-color:        #1565c0;
  cursor:pointer;
  z-index:2;
}

li.indicator-item.active {
  background-color : #1565c0 !important;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}

.cerca {
  height: auto !important;
  width: 100% !important;

  background-color: white;
}

input::-webkit-input-placeholder {
  color: #1565c0;
}
input:focus::-webkit-input-placeholder {
  color: #1565c0;
}

.slides > li{
  border-style: solid;
  border-color: #1565c0;
}

.categoria table {
  overflow : auto;
  overflow-y: hidden;
}

.containerCategoria {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}


.containerCategoria::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.containerCategoria::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.containerCategoria::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #1565c0;
}

tbody {
  display:inline-block;
  overflow-x:auto;
  overflow-y: hidden;
}

thead, tbody tr {
  display:table;
  width:auto;
  table-layout:fixed;
}
thead {
  width: 100% !important;
}
table {
  width:100%;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #1565c0;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #1565c0;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #1565c0 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important;
}

.input-field {
  color:1565c0;
} 

.tabs .tab a{
  color:#1565c0;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#1565c0;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#eee;
  color:#1565c0;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#1565c0;
} /*Color of underline*/


.collection-item.categorie {
  height: 65px;
}

/* SLIDER */
.noUi-connect {
  background: #1565c0;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background: #1565c0;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #1565c0;
}

#formdati {
  margin-top: 35px;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #1565c0 !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: #1565c0 !important;
}